<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (event) { %>
            <h1><%= event.title %></h1>
            <hr>
            <div class="list">
                    <article class="card event-item">
                        <header class="card__header">
                            <h1 class="event__title"><%= event.title %></h1>
                        </header>
                        <!-- <div class="card__image">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
                        </div> -->
                        <div class="card__content">
                            <h2 class="event__price"><%= event.start %></h2>
                            <p class="event__description"><%= event.description %></p>                            
                            <% if (event.attendees.length > 0) { %>
                                <h3>Attendees</h3>
                                <% for (let attendee of event.attendees) { %>
                                    <li class="event__description"><%= attendee.email %> <%= attendee.optional %></li>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="card__actions">
                            <form action="/events/delete">
                                <button class="btn">Delete</button>
                            </form>                            
                        </div>
                    </article>
            </div>
        <% } else { %>
            <h1>Invalid event</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>